<div class="header">
    <nav>
        <a href="http://localhost:3000/"><h1 class="title">Composite</h1></a>
        <h5 class="tagline">FACES FROM AROUND THE WORLD</h5>
            <form id="search">
                <input type="text" placeholder="Search a location" class="search" id="txtPlaces" required>
            </form>
    </nav>
</div>

<img id = "aGif" src="assets/ajax-loader.gif">

<div id = "shade"></div>

<center>
    <div id="locale">
        <%= params[:current] %>
    </div>
</center> 

<div id="map"></div>

<center> 
    <div id="faces">
            <% if @flag %>
                <h5 id="empty">Search a location to get started.</h5>
            <% end %>

            <% @img_paths.each do |image| %>
                <%= link_to image.link, :class => "links", :target => "_blank" do %>
                    <%= image_tag(image.name, :class => "images") %>
                <% end %>
            <% end %>

    </div>
</center>

<% if not @flag %>
    <div>
        <button id = "button" class="load"><h3 id="loadText">Load More</h3>
        <img src="assets/load.gif" id="gif"></button>
    </div>
<% end %>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>

<script>
  function initMap() {
    var mapDiv = document.getElementById('map');
    var map = new google.maps.Map(mapDiv, {
      center: {lat: parseFloat(<%=params[:lat]%>), lng: parseFloat(<%=params[:lng]%>)},
      zoom: 14,
      scrollwheel: false,
      mapTypeId: google.maps.MapTypeId.HYBRID
    });
  }
</script>

<script type="text/javascript">
    initMap();
    google.maps.event.addDomListener(window, 'load', function () {
        var places = new google.maps.places.Autocomplete(document.getElementById('txtPlaces'));
        google.maps.event.addListener(places, 'place_changed', function () {
            document.getElementById("aGif").style.display = "block";
            document.getElementById("shade").style.display = "block";
            var place = places.getPlace();
            var address = place.formatted_address;
            var latitude = place.geometry.location.lat();
            var longitude = place.geometry.location.lng();
            var location = document.getElementById('txtPlaces');
            var url = window.location.href;
            if (url.indexOf('?') > -1){
                url = url.split("?")[0]+'?lat='+latitude+"&lng="+longitude+"&current="+place.formatted_address;
            } else {
                url += '?lat='+latitude+"&lng="+longitude+"&current="+place.formatted_address;
            }
            // setTimeout(check, 1000);
            window.location.href = url;
        });
    });
</script>


<script>

  var images = <%=raw @instagram2 %> ;

  $('#button').on('click', function () {
    addFaces();
  });

  function addFaces() {
    document.getElementById("loadText").style.display = "none";
    document.getElementById("gif").style.display = "inline";
    setTimeout(stopGif, 3300);
  }

  function stopGif() {
      document.getElementById("loadText").style.display = "block";
      document.getElementById("gif").style.display = "none";
      $.each(images, function( index, value ) {
        $( "<img>" ).attr({"src": "http://localhost:3000/" + value, "class":"images"}).appendTo("#faces");
      });
  }

</script>
